.subtitle {
    margin-top: 0.8rem;
}

.input {
    height: 18px;
    width: 42px;
    text-align: center;
    margin-top: 8px;
}

.btn {
    background-color: rgba(182, 179, 179, 0.5);
    color: rgba(102, 102, 102, 1);
    border: 0px;
    width: 25px;
    height: 24px;
    font-size: 15px;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
}